.button {
  cursor: pointer;
  border: none;
  height: 42px;
  line-height: 42px;
  background: #51A7F9;
  color: #FFF;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}